/**************BONUS***************/
/*img circondata dal testo*/
@media all and (min-width:576px) {
  .presentation img {
    float: left;
    margin-right: 10px;
  }

  /*img circondata dal testo*/
  .btn {
    font-size: 15px;
    padding: 6px 30px;
    border-radius: 50px;
  }
}

/*Il logo nell'header si allinea a sinistra*/

@media screen and (min-width:768px) {
  #topbar {
    justify-content: flex-start;
  }

  /*Il padding del contenuto principale della pagina aumenta*/
  main {
    padding: 50px;
  }

  /*Compare il testo "(Dolce Tradizionale)"*/
  .recipe-origin {
    display: inline;
  }

  /*La grandezza del titolo diventa più grande*/
  .recipe-title {
    font-size: 1.3em;
  }

  /*Le informazioni della ricetta sotto il video si dispongono a griglia*/
  .quick-notes ul {
    display: flex;
    flex-wrap: wrap;
  }

  .quick-notes li {
    width: calc(100%/3);
  }

  /*I bottoni social si allargano*/
  .btn {
    font-size: 18px;
    padding: 10px 50px;
    border-radius: 50px;
  }

  /*compare il banner pubblicitario*/
  .ads {
    display: block;
  }

  /*l'immagine nella descrizione della ricetta viene circondata dal testo*/
  .presentation img {
    float: left;
    margin-right: 10px;
  }
}

/**************DESKTOP****************/
/**************DESKTOP****************/

/*La grandezza del titolo della ricetta aumenta ancora di più*/
@media all and (min-width:992px) {
  .recipe-title {
    font-size: 1.4em;
  }

  /*Le informazioni della ricetta tornano a disporsi una sotto l'altra*/
  .quick-notes ul {
    display: block;
  }

  /*Il video e le altre informazioni della ricetta si dispongono uno accanto all'altro*/
  .recipe-card {
    display: flex;
  }

  .recipe-video {
    width: 70%;
    max-height: 420px;

  }

  .recipe-info {
    width: 30%;
  }

  .quick-notes li {
    width: 100%;
  }

  /*Compaiono i nomi delle piattaforme social*/
  .social-networks .label {
    display: inline-block;
  }

  .btn {
    font-size: 14px;
    padding: 10px 30px;
  }

  /*footer*/
  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  address {
    text-align: left;
  }

}